/* *
{
    padding: 0px;
    margin: 0px;
} */
h1
{
    background-color: orange;
    height: 300px;
    width: 300px;
    border-width: 3px;
    border-style: solid; 
    border-color: black;
    /* border : 10px solid green {order of values doesnot matter */
    padding: 5px;
    padding-left: 10px;
    margin: 10px;
    /* padding: 10px 20px 30px 40px;  top,right,bottom,left */
    /* padding: 20px 40px;  top+bottom=20px and left+right=40px; */
    /* margin: 10px 20px 30px 40px;top,right,bottom,left   */
    border-radius: 10px;
}
#notes
{
    background-color: pink;
    border: 2px solid black;
    width: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
span
{
    background-color: yellow;
    color: black;
}