body {
  font-family: Arial;
  background: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 300px;
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.card img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  margin: 10px;
  padding: 8px 15px;
  background: black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.card a:hover {
  background: grey;
}
